src/main/mule/humidityProcess.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:oauth="http://www.mulesoft.org/schema/mule/oauth" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="getHumdityByCity" doc:id="cdee6ab9-8d8d-44f4-a527-11559c95db4d">
		<logger level="INFO" doc:name="Logger" doc:id="b7fd37d3-c441-4ec8-91fe-09b13ee00853" message="#[vars.city]" />
		<http:request method="GET" doc:name="Request" doc:id="86d3b962-129d-48b6-a33e-031937f7bfb5" config-ref="HumidityRequestConfiguration" path="/weather/humidity">
			<http:query-params><![CDATA[#[output application/java
---
{
	"city" : attributes.queryParams.city
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="3dd10e7a-f9a9-48b9-ac0e-41db1e86ce49">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"Status":"Success",
	"Response": payload
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		
		
	</flow>
	<flow name="getHumidityByCityAndDate" doc:id="1c8c4b76-9885-426c-aeaf-b13435d298a2" >
		<http:request method="GET" doc:name="Request" doc:id="7f3de956-7bc4-45f3-9260-adb47418cd76" config-ref="HumidityRequestConfiguration" path="/weather/humidity/{city}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"city" : attributes.queryParams.city
}]]]></http:uri-params>
			<http:query-params ><![CDATA[#[output application/java
---
{
	"date" : attributes.queryParams.date
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="c4bdb8a0-1504-4360-82d0-019c6a77cddc" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Status":"Success",
	"Response":payload
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
