src/main/mule/ProcessLayerController.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd">
	<flow name="HumidityController" doc:id="179680c0-bce2-4c73-a134-2f3b70295b55" >
		<http:listener doc:name="Listener" doc:id="24ceec39-48fe-4c2c-b7f1-96eaf9949e24" config-ref="ProcessLayerListner" path="/humidity" allowedMethods="GET">
			<http:error-response statusCode="#[vars.statusCode default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
		</http:listener>
		<choice doc:name="Choice" doc:id="639b58fa-209c-42a7-b2f3-17313ec703e9" >
			<when expression="#[attributes.queryParams.date != null and attributes.queryParams.city != null]">
				<flow-ref doc:name="Flow Reference" doc:id="a02cb40d-4ccc-45a7-99d6-09bab703ec31" name="getHumidityByCityAndDate"/>
			</when>
			<when expression="#[attributes.queryParams.city != null]">
				<flow-ref doc:name="Flow Reference" doc:id="ca8344b8-9345-4701-92ac-1cc0b99913ff" name="getHumdityByCity"/>
			</when>
			<otherwise>
				<raise-error doc:name="Raise error" doc:id="0f10e4c2-0026-4cdf-a86b-8a02e843e401" type="WEATHER:URL_NOT_FOUND" description="My description"/>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="940f4378-835b-493c-a3e4-1cd90e623bda" message="#[payload]"/>
	</flow>
	<flow name="WeatherController" doc:id="9748284d-7261-4316-9c90-1f7708e035bb" >
		<http:listener doc:name="Listener" doc:id="1f9589fb-2ddc-40c1-abe7-b8193b3f3d2f" config-ref="ProcessLayerListner" path="/weather">
			<http:error-response statusCode="#[vars.statusCode default 500]" >
				<http:body ><![CDATA[#[payload]]]></http:body>
			</http:error-response>
		</http:listener>
		<flow-ref doc:name="Flow Reference" doc:id="ff91cf0f-ca8d-4caa-883a-77e7099bdec5" name="getWeather"/>
	</flow>
</mule>
