src/main/mule/rainfallProcess.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="getRainfallByCity" doc:id="ff73395e-c49a-4b7f-90b8-67e2fc0a3ee1" >
		<http:request method="GET" doc:name="Request" doc:id="9a671931-02c7-409d-a181-b055b5f5e8b3" config-ref="RainfallRequestConfiguration" path="/rainfall">
			<http:query-params ><![CDATA[#[output application/java
---
{
	"city" : attributes.queryParams.city
}]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="284a21f7-acb8-4bd1-a292-5c0d37b405d3" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="9d783515-0154-407c-9f1c-bb48c368ddb5" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	timestamp: payload.timestamp,
	result: payload.result map ( result , indexOfResult ) -> {
		id: result.id,
		month: result.month,
		rain: result.rain,
		city: result.city.cityName
	},
	success: payload.success,
	httpCodeMessage: (payload.errors as Stringdefault "") ++ payload.httpCodeMessage
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="6b5bdd2c-352d-4be7-ae7a-318f7bdfaa5d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Status":"Success",
	"Response":payload
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="getMonthlyRainfallAvgByCity" doc:id="6e248cb8-3706-429c-b342-5dd1aa741df3">
		<ee:transform doc:name="Transform Message" doc:id="5cf476d1-75e1-4312-9125-1a03be80c002" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="customMonth" ><![CDATA[%dw 2.0
output application/java
var months = ["Jan","Feb","Mar","Apr","May","Jun","Jul",
			  "Aug","Sep","Oct","Nov","Dec"]
var getMonth = (num) -> 
	months[num - 1]
---
if(attributes.queryParams.date == null)
	attributes.queryParams.month as String
else
	getMonth(attributes.queryParams.date.month).Month]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="7de638f6-eb22-4027-932c-a936b1b26bde" message="#[vars.customMonth]"/>
		<http:request method="GET" doc:name="Request" doc:id="0d902dda-7656-4ee3-ae15-7c3d3834e925" path="/getMonthlyAvgByCity" config-ref="RainfallRequestConfiguration">
			<http:query-params><![CDATA[#[output application/java
---
{
	"month" : vars.customMonth,
	"city" : attributes.queryParams.city,
	"units" : attributes.queryParams.rainfallUnit
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="41b0b387-871c-4fa2-9c32-c7cb24b610ea">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"Status":"Success",
	"Response":payload
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="getYearlyRainfallAvgByCity" doc:id="40ab5c19-b3ae-43e2-90c4-30e996cf3268">
		<http:request method="GET" doc:name="Request" doc:id="f324a9d6-a6a2-4d78-92d5-df67ed7cf93f" config-ref="RainfallRequestConfiguration" path="/getYearlyAvgByCity">
			<http:query-params><![CDATA[#[output application/java
---
{
	"city" : attributes.queryParams.city,
	"units" : attributes.queryParams.units
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="9b6ff30d-7937-42a0-b6a5-d2d33c1cc7ac">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"Status":"Success",
	"Response":payload
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
