src/main/mule/weatherProcess.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
	<flow name="getWeather" doc:id="75ef4a26-6ced-47ca-a3c1-6fedf386ff6d" >
		<scatter-gather doc:name="Scatter-Gather" doc:id="e512062d-b74b-4a65-b0f4-861e6b4be675" >
			<route >
				<try doc:name="Humdity_Try_Clause" doc:id="fe5d9f38-d319-4166-a5a1-d823a1d7489f" >
					<flow-ref doc:name="GetHumidity" doc:id="f2e75e36-6041-423b-b9df-779a6db3c9d1" name="getHumidityByCityAndDate" />
					<ee:transform doc:name="Transform Message" doc:id="36c4d74c-835e-435f-82e2-5c69171ad281">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"Data":{
		"Humidity":payload.Response.humidity
	}
	
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
					<error-handler >
						<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="d7fcddbd-72e2-4b02-b0eb-cb89a5fd5703" type="HTTP:NOT_FOUND">
							<ee:transform doc:name="Transform Message" doc:id="edf1b5d0-0146-4d87-960d-ac22704996de" >
								<ee:message >
									<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Status":"Failed",
	"Data":{
		"Humidity":null
	}
	
}]]></ee:set-payload>
								</ee:message>
							</ee:transform>
			</on-error-continue>
						<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="c30cd60f-139b-460e-84f0-9fe70f2416c9" type="ANY">
							<ee:transform doc:name="Transform Message" doc:id="e06ae0e8-c9e5-4f60-8488-37103ad3229a" >
								<ee:message >
									<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Status":"Failed",
	"Data":{
		"Humidity":null
	}
	
}]]></ee:set-payload>
								</ee:message>
							</ee:transform>
						</on-error-continue>
					</error-handler>
				</try>
			</route>
			<route >
				<try doc:name="Rainfall_Try_Clause" doc:id="ea367752-30b7-4070-925a-70bb0947c18d" >
					<flow-ref doc:name="Get Rainfall" doc:id="f42632de-7a8c-4424-bf90-08efc6005e8b" name="getMonthlyRainfallAvgByCity"/>
					<ee:transform doc:name="Transform Message" doc:id="fc9f0b66-cceb-487f-bdfb-b247884182ba">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"Data":{
		"Rainfall":payload.Result.result
	}
	
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
					<error-handler >
						<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="e0d6b44c-bfb3-471e-b8dd-a3cd5c0dc321" type="HTTP:NOT_ACCEPTABLE">
							<ee:transform doc:name="Transform Message" doc:id="9c28cb92-2b67-417b-844d-44f59d01005a" >
								<ee:message >
									<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Status":"Failed",
	"Data":{
		"Rainfall":null
		}
}]]></ee:set-payload>
								</ee:message>
							</ee:transform>
						</on-error-continue>
						<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="06ca94a0-c2f1-4378-a4e2-2570360844df" type="ANY">
							<ee:transform doc:name="Transform Message" doc:id="2e0c79fd-7dd0-4dfc-bb2e-65cbad45d145" >
								<ee:message >
									<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Status":"Failed",
	"Data":{
		"Rainfall":null
	}	
}]]></ee:set-payload>
								</ee:message>
							</ee:transform>
						</on-error-continue>
					</error-handler>
				</try>
			</route>
			<route >
				<try doc:name="Temperature_Try_Clause" doc:id="e6ea1e06-4582-46fc-95a4-45fa0b86ed5a" >
					<flow-ref doc:name="Get Temperature" doc:id="cbdc7a4b-9271-495a-acfa-c97fe1f18fd7" name="getTemperatureflowByCityAndDate"/>
					<ee:transform doc:name="Transform Message" doc:id="d0062297-3fc4-4545-82cf-74421f286eb1" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Data":{
		"Temperature":payload.Response.temperature
	}
	
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<logger level="INFO" doc:name="Logger" doc:id="49249b93-80c7-48dd-b20d-ad5710bdef65" message="#[payload]"/>
					<error-handler >
						<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="db01bf8a-c481-4212-9c00-8619d2078212" type="HTTP:NOT_FOUND">
							<ee:transform doc:name="Transform Message" doc:id="bf9f9622-8e24-4ca5-b00e-80d776aa7681" >
								<ee:message >
									<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Status":"Failed",
	"Data":{
		"Temperature":null
		}
}]]></ee:set-payload>
								</ee:message>
							</ee:transform>
						</on-error-continue>
						<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="a1dd8e24-2c07-43e3-b27f-075c2ee85353" >
							<ee:transform doc:name="Transform Message" doc:id="c06c7b53-2bf2-4c00-a595-dd19de2aae23" >
								<ee:message >
									<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Status":"Failed",
	"Data":{
		"Temperature":null
		}
}]]></ee:set-payload>
								</ee:message>
							</ee:transform>
						</on-error-continue>
					</error-handler>
				</try>
			</route>
		</scatter-gather>
		<logger level="INFO" doc:name="Logger" doc:id="c50190c8-1426-4a7d-8e64-8c3f2e6c9397" message="Just logger"/>
		<choice doc:name="Choice" doc:id="045509a4-11f4-4d6a-99c0-f3f159fce1da" >
			<when expression="#[payload..payload..Status != null and sizeOf(payload..payload..Status) == 3]">
				<raise-error doc:name="Raise error" doc:id="f53c46dc-a935-4c15-a89d-2327907a4685" type="WEATHER:RESOURCE_NOT_FOUND"/>
			</when>
			<when expression="#[payload..payload..Status != null]">
				<ee:transform doc:name="Transform Message" doc:id="575b2ecb-4bb8-4b52-8c47-ab6748462555" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Status":"Partial Success",
	"Response":{
		"City":vars.city,
		"Date":vars.date,
		"WeatherData":payload..payload..Data
	}
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message" doc:id="cb9ca264-a225-4001-bd1c-9e9b00faf9ea">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"Status":"Success",
	"Response":{
		"City":vars.city,
		"Date":vars.date,
		"WeatherData":payload..payload..Data
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</otherwise>
		</choice>
	</flow>
</mule>
